<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>标题</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
<script type="text/javascript" src="../static/js/queryAll.js" th:src="@{/js/queryAll.js}"></script>
</head>
<body>
  
    <table  border="1px;">
     <tr>
     <th>编号</th>
     <th>账号</th>
     <th>密码</th>
     <th>操作</th>
     </tr >
     <tr th:each="user:${list}">
     <th id="id"></th>
     <th id="username"></th>
     <th id="password"></th>
     <th><a href="修改" onclick="update()"></a>
     <a href="删除" onclick="delete()"></a></th>
     </tr>
    </table>
 
    
    
    

</body>
</html>